body {
	background-color: #eee;
}

.container {
	margin: 30px auto;
	background-color: #f6f6f6;
	box-shadow: 2px 5px 20px #888;
}


/* Header */

small {
	padding-left: 15px;
	font-size: 12pt !important;
}

#nav-name {
	margin-top: 30px;
}

#nav {
	margin-top: 25px;
}

hr {
	margin-top: 5px;
	border-color: black;
	opacity: 0.3;
}

/* Footer */

#footer-contact {
	text-align: center;
}

#footer-end {
	text-align: center;
}

#hide {
	display: none;
}

[class^="icon"] {
	display: block;
	width: 32px;
	height: 32px;
	background: url('../img/sprites.svg');
	text-indent: 100%;
	white-space: nowrap;
	overflow: hidden;
}

.icon-twitter {
	background-position: 0 -64px;
}

.icon-linkedin {
	background-position: 0 -96px;
}

.icon-instagram {
	background-position: 0 -32px;
}